@tailwind base;
@tailwind components;
@tailwind utilities;

.get {
  @apply bg-blue-400 text-white font-medium px-4 rounded mr-2;
}

.post {
  @apply bg-green-400 text-white font-medium px-4 rounded mr-2;
}

.put {
  @apply bg-orange-500 text-white font-medium px-4 rounded mr-2;
}
.delete {
  @apply bg-red-500 text-white font-medium px-4 rounded mr-2;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}
